.conteiner {
  width: 85%;
  margin-right: 155px;
  margin-left: 155px;
}

header {
  background: url(../img/apples.jpg) no-repeat center top/cover;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  color: #fff;
}
header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}
header nav ul a {
  padding: 30px;
  text-decoration: none;
  color: #fff;
}

.header-center {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-center h1 {
  padding-top: 250px;
  margin-bottom: 0px;
}
.header-center h1 span {
  vertical-align: text-top;
  font-size: 16px;
  margin: 5px;
}
.header-center h4 {
  margin: 0px;
}
.header-center button {
  margin-top: 240px;
  margin-bottom: 110px;
  padding: 20px 80px;
  background: #000;
  color: #fff;
  opacity: 0.5;
  border: 2px solid #fff;
}

.under-image {
  display: flex;
}
.under-image p {
  flex-basis: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.under-image p:last-child {
  font-size: 70%;
}

#img-section {
  background: #F0F0F0;
  padding-bottom: 80px;
  display: flex;
}
#img-section .allImage {
  display: flex;
  flex-wrap: wrap;
}
#img-section .allImage div {
  display: flex;
  margin: 15px;
  justify-content: space-between;
}
#img-section .allImage .img1 {
  display: flex;
  width: 55%;
  min-height: 300px;
  margin-right: 0px;
  background: url(../img/sample.jpg) no-repeat center/cover;
}
#img-section .allImage .img2 {
  display: flex;
  width: 35%;
  margin-right: 0px;
  background: url(../img/sample2.jpg) no-repeat center/cover;
}
#img-section .allImage .img3 {
  display: flex;
  width: 35%;
  min-height: 300px;
  margin-left: 0px;
  background: url(../img/sample2.jpg) no-repeat center/cover;
}
#img-section .allImage .img4 {
  display: flex;
  width: 55%;
  margin-right: 0px;
  background: url(../img/sample3.jpg) no-repeat center/cover;
}
#img-section .imgButton {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  color: #fff;
  height: 30px;
  margin: 30px;
}
#img-section .imgText {
  color: #FFF;
  align-self: flex-end;
  margin: 30px;
}
#img-section h2 {
  padding-top: 100px;
  margin-top: 60px;
  margin-bottom: 50px;
  text-align: center;
}
#img-section form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding: 30px;
  background: #fff;
}
#img-section form p {
  margin: 30px;
}
#img-section form input {
  padding: 10px 70px 10px 10px;
  background: #F0F0F0;
  margin-right: 0;
}
#img-section form button {
  background: #000;
  color: #fff;
  padding: 10px 70px 10px 70px;
}

.section-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: no-wrap;
}
.section-footer div {
  flex-basis: 25%;
  margin: 35px;
}
.section-footer div form {
  display: flex;
  margin-top: 10px;
  background: #fff;
}
.section-footer div form input {
  padding: 10px 40px 10px 10px;
  background: #F0F0F0;
  margin-right: 0;
}
.section-footer div form button {
  background: #000;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

footer {
  display: flex;
  justify-content: space-between;
}
footer ul {
  display: flex;
  list-style-type: none;
}
footer ul a {
  text-decoration: none;
  color: #000;
  padding: 30px;
}

