$background: #dcbb9a; 
$bodycolor:white;
$colorh:darken($background,30%);
$color2:#fadcba;
$colortable:#e0e0e0;
$color-a:#3d86c2;
$colortext:black;
$width-brief:max-width;
$color-all-table:white;
$color-caption:black;
$color-brief:black;
$float-brief:left;
$width-brief:45%;
$color-form:black;
$color-button:#3d86c2;
$color-th:black;