$background: #e0f6fd; 
$bodycolor:#3b3b3b;
$colorh:#fccd10;
$color2:lighten($colorh,25);
$colortable:#94a34e;
$color-a:#fccd10;
$colortext:#ffffff;
$width-brief:max-width;
$color-all-table:darken($colortable,13%);
$color-caption:black;
$color-brief:black;
$float-brief:center;
$width-brief:100%;
$color-form:#fccd10;
$color-button:#fccd10;
$color-th:black;